

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}




html, body{
	filter: blur(0.3px);
	width: 100%;
	height: 100%;
	background: #111;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

#CompanyLogo {
	position: absolute;

	left: 5px;
	top: 5px;
}

#DeveloperButton {
	position: absolute;
	right: 540px;
	top: 20px;
	font-size: 20px;
	font-family: 'Press Start 2P', cursive;

	color: white;

}

.TopBar {
	position: absolute;
	top: 0;
	color: darkgray;
	height: 160px;
}




#HomePageTitle {
	position: absolute;
	left: 200px;
	top: 140px;
	font-size: 30px;
	color: rgb(255,255,255);
	font-family: 'Press Start 2P', cursive;
}

canvas{
  display:block;
  vertical-align:bottom;
}


#particles-js {
	width: 100%;
	height: 100%;
	background-color: #696969;
	background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthumbs.gfycat.com%2FHarmoniousImpracticalBrant-max-1mb.gif&f=1&nofb=1');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
